/* ==========================================================================
   Imports
   ========================================================================== */

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* ==========================================================================
   Tailwind
   ========================================================================== */

/* @custom-variant dark (&:is(.dark *)); */

/* ==========================================================================
   Global Reset
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 100vw;
  font-family: var(--font-outfit);
}

/* ==========================================================================
   Utilities
   ========================================================================== */

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}

.py-pagebuilder {
  /* padding-block: var(--spacing-pagebuilder); */
  padding-block: 4rem;
}
.grad-white {
  background-image: linear-gradient(
    var(--color-neutral-900),
    var(--color-neutral-500)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Dark mode override */
.dark .grad-white {
  background-image: linear-gradient(
    var(--color-neutral-100),
    var(--color-neutral-500)
  );
}

/* ==========================================================================
   Color Scheme
   ========================================================================== */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* ==========================================================================
   theme
   ========================================================================== */
@theme {
  --font-instrument-serif: var(--font-instrument-serif);
}
